* {
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}
body{
    background-color: aqua;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container {
    background: #7a7878;
    border: 2px solid #080808;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
}
.numbers{
    background-color: rgb(0, 36, 241);
    border: 2px solid #e8f007;
}
button {
    background: #080808;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 65px;
    width: 65px;
}
button:active,
button:focus {
    filter: brightness(120%);
}
.display {
    grid-column: 1 / span 3;   /* align left edge with col 1, right edge with col 3 */
    border: 2px solid #292323;    /* the “border of the zero” */
    border-radius: 10px;
    padding: 8px 12px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* numbers sit near the C button */
    color: #140a0a;
    background-color: #ffffff;
    font-size: 2.5rem;
}
.calc_keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 10px;
}
.clear{
    background: #69c61d;
    border: 2px solid #e8f007;
}
.operations{
    background: #c41e92;
    border: 2px solid #e8f007;
}
.operations.active { 
    background:  #f4a80f;
}
.equal{
    background: #e00b0b;
    border: 2px solid #e8f007;
}

.display {
    white-space: nowrap;      /* stay on one line */
    overflow: hidden;         /* no spillover */
    text-overflow: ellipsis;  /* optional: shows if still too long */
}
