/*background box*/
.calc-root {
    max-width: 420px;
    margin: 32px auto;
    padding: 16px;
    background: linear-gradient(180deg, #f10d8a 0%, #2732cf 100%);
    border: 2px solid #17cb50;
    border-radius: 18px;
    color: #e6eefc;
}

/*grid for numbers and display*/
.calc-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 64px;
    gap: 25px;
}

/*span is for the button size*/
.span-2 {grid-column: span 2; }
.span-3 {grid-column: span 3;}
.span-4 {grid-column: span 4; }

